.card {
    width: 70%;
    margin-left: 15%;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.card-header {
    text-align: center;
    color: black;
    font-size: 5ch;
}

.save {
    width: 10%;
    margin-left: 45%;
    color: black;
    font-weight: 3ch;
    margin-top: 20px;
}